<!DOCTYPE html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
      <meta charset="utf-8">
      <meta http-equiv="pragma" content="no-cache">
      <title>File Manager</title>
      <meta name="description" content="">

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="style/jquery.mobile.css" />
      <link rel="stylesheet" href="style/filemanager.css" />
      <script src="js/libs/require.js" data-main="js/filemanager"></script>
</head>
<body>

<div id="home" data-role="page" data-title="Categories">
  
      <div id="header" data-role="header">
      </div><!-- /header -->
  
      <div data-role="content">
            <ul id="entries" data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<!-- Underscore Templates -->
<script id="header-template" type="text/template">
    <img id="up-button" src="style/images/up_icon.png" /><span> <%= dir.fullPath %></span>
</script>

<script id="entry-template" type="text/template">
    <img src="style/images/<%= entry.isDirectory ? 'dir' : 'file' %>_icon.png" /><span><%= entry.name %></span>
</script>

</body>
</html>
