<!DOCTYPE html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
      <meta charset="utf-8">
      <meta http-equiv="pragma" content="no-cache">
      <title>File Manager</title>
      <meta name="description" content="">

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="style/jquerymobile.css" />
      <link rel="stylesheet" href="style/filemanager.css" />
      <script src="js/libs/require.js" data-main="js/filemanager"></script>
</head>
<body>

<div id="home" data-role="page" data-title="File Manager">

      <div id="header" data-role="header" data-position="fixed">
      </div><!-- /header -->

      <div data-role="content">
            <ul id="entries" data-role="listview">
            </ul>
      </div><!-- /content -->

      <div id="footer" data-role="footer" data-position="fixed">
      </div><!-- /footer -->

</div>

<!-- Underscore Templates -->
<script id="header-template" type="text/template">
    <a href="javascript:void(0)" id="up-button" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-theme="a">Up</a>
    <span id="dir-text"><%= dir.name ? dir.name : 'SD Card' %></span>
    <a href="javascript:void(0)" id="edit-button" data-role="button" data-icon="gear" data-iconpos="notext" data-theme="a" class="ui-btn-right">Edit</a>
</script>

<script id="entry-template" type="text/template">
    <a href="javascript:void(0)"><img src="style/images/<%= entry.isDirectory ? 'dir' : 'file' %>_icon.png" /><%= entry.name %><p></p></a>
</script>

<script id="footer-template" type="text/template">
    <div data-role="navbar">
        <ul>
            <li><a href="javascript:void(0)" id="copy-button" data-role="button">Copy</a></li>
            <li><a href="javascript:void(0)" id="cut-button" data-role="button">Cut</a></li>
            <li><a href="javascript:void(0)" id="paste-button" data-role="button">Paste</a></li>
            <li><a href="javascript:void(0)" id="delete-button" data-role="button">Delete</a></li>
            <li><a href="javascript:void(0)" id="rename-button" data-role="button">Rename</a></li>
            <li><a href="javascript:void(0)" id="create-button" data-role="button">Create</a></li>
        </ul>
    </div>
</script>

</body>
</html>
