#up-button {
    margin-left: 2px;
}

#dir-text {
    margin: 10px;
    line-height: 42px;
    font-size: 1.2em;
}

#edit-button {
    margin-right: 2px;
}

#header {
    height: 40px;
}

#footer {
    display: none;
    text-align: center;
}
