#up-button {
    margin-left: 2px;
}

#dir-text {
    margin: 10px;
    line-height: 42px;
    font-size: 1.2em;
}

#edit-button {
    margin-right: 2px;
}

#entries p {
    margin-top: 10px;
}

#entries p span {
    float: right;
}

#footer {
    display: none;
}
